{%extends 'base.html' %}
{%block content%}

<style>
    .exampleInputPassword1{
        width:500px;
    }

    .changepassword{
        place-items:center;
        margin: 0 auto;
        width:600px;
        height:450px;
        border: 5px solid black;
        display: flex;
        align-items:center;
        flex-direction: column;
        justify-content:center;
        box-sizing:border-box;
    }


</style>


<form class="changepassword" method="POST" action={% url 'pricewebsiteapp:changepassword' %}>
    {%csrf_token%}
    <div class="mb-3">
      <label for="{{ form.old_password.id_for_label }}" class="form-label">Eski Şifreniz</label>
      <input type="password" name="{{ form.old_password.name }}" id="{{ form.old_password.id_for_label }}" class="form-control exampleInputPassword1">
      {% if form.old_password.errors %}
      <div class="form-text text-danger">Eski şifreniz doğru değil!</div>
    {% endif %}
    </div>
    <div class="mb-3">
        <label for="{{ form.new_password1.id_for_label }}" class="form-label">Yeni Şifre</label>
        <input type="password" name="{{ form.new_password1.name }}" id="{{ form.new_password1.id_for_label }}" class="form-control exampleInputPassword1">
    </div>
    <div class="mb-3">
        <label for="{{ form.new_password2.id_for_label }}" class="form-label">Yeni Şifre (Tekrar)</label>
        <input type="password" name="{{ form.new_password2.name }}" id="{{ form.new_password2.id_for_label }}" class="form-control exampleInputPassword1">
      </div>
    <button type="submit" class="btn btn-primary">Şifreyi Değiştir</button>
  </form>

{%endblock%}